<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neko.seed.v2x.mapper.TrafficCoreDataProMapper">

    <sql id="Base_Column_List">
        id, road_section_name, avg_speed, situation_prediction, congestion_length,
        nums_blue_car, nums_yell_car, avg_headway, cart_mix_rate,
        service_level, carbon_monoxide_emissions, inhalable_emissions, nox_emissions,
        meausre_info, total_cars, predict_total_cars, rec_time
    </sql>

    <select id="getLatestDetails" resultType="com.neko.seed.v2x.entity.ddo.TrafficCoreDataPro">
        select id, road_section_name, rec_time, total_cars, nums_blue_car, nums_yell_car
        from traffic_core_data_pro t
        where id = (
            select max(id) from traffic_core_data_pro
            where road_section_name = t.road_section_name
        );
    </select>

    <select id="getLatestDetailsPro" resultType="com.neko.seed.v2x.entity.ddo.TrafficCoreDataPro">
        SELECT a.id, a.road_section_name, a.total_cars, a.nums_blue_car, a.nums_yell_car, a.rec_time
        FROM (
            SELECT road_section_name, max(id) id
            FROM traffic_core_data_pro
            GROUP BY road_section_name ) b
        JOIN traffic_core_data_pro a ON a.id = b.id
        AND a.road_section_name = b.road_section_name;
    </select>

    <select id="getLatestData" resultType="com.neko.seed.v2x.entity.ddo.TrafficCoreDataPro">
        select
        <include refid="Base_Column_List" />
        from traffic_core_data_pro
        where id = (
            select max(id) from traffic_core_data_pro
            where road_section_name = #{roadname}
        ) and road_section_name = #{roadname};
    </select>

    <select id="getSpecifiedDetailByRoad" resultType="com.neko.seed.v2x.entity.ddo.TrafficCoreDataPro">

        SELECT
        <include refid="Base_Column_List" />
        from traffic_core_data_pro
        WHERE id IN
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        AND road_section_name = #{roadname}
    </select>

    <select id="getSpecifiedDetail" resultType="com.neko.seed.v2x.entity.ddo.TrafficCoreDataPro">

        SELECT
        <include refid="Base_Column_List" />
        from traffic_core_data_pro
        WHERE id = #{id}
        AND road_section_name = #{roadname};
    </select>

    <select id="generateHourDataBySepcificDate" resultType="integer">
        INSERT INTO traffic_core_data_hour (
            `id`,
            `road_section_name`,
            `avg_speed`,
            `situation_prediction`,
            `congestion_length`,
            `nums_blue_car`,
            `nums_yell_car`,
            `avg_headway`,
            `cart_mix_rate`,
            `service_level`,
            `carbon_monoxide_emissions`,
            `inhalable_emissions`,
            `nox_emissions`,
            `meausre_info`,
            `total_cars`,
            `predict_total_cars`,
            `rec_time`
        ) SELECT
            *
        FROM
            traffic_core_data_pro
        WHERE
            id &gt;= #{startDate} and id &lt; #{endDate}
        order by id asc
        limit 1;
    </select>



</mapper>
